<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>

    <div class="container">
        <h3>Write New Chat</h3>

        <form action="/chats" method="post" class="chat-form">
            <input type="text" placeholder="Who are you?" name="from">

            <textarea name="msg" rows="8" placeholder="Write your message here"></textarea>

            <input type="text" placeholder="Add receiver name" name="to">

            <button type="submit">Create Message</button>
        </form>
    </div>

</body>
</html>